@use "../variables.scss";
@use "../mixins.scss";

.competition {
  position: relative;
  z-index: 1;
  padding: 120px 0;

  @media (max-width: variables.$vp-1365) {
    padding: 100px 0;
  }

  @media (max-width: variables.$vp-767) {
    padding: 70px 0;
  }
}

.competition__jury {
  position: relative;
}

.competition__jury-title {
  @include section-title;

  margin: 0 0 45px;

  @media (max-width: variables.$vp-1365) {
    margin: 0 auto 39px;
    max-width: 550px;
    text-align: center;
  }

  @media (max-width: variables.$vp-767) {
    margin-bottom: 41px;
  }
}

.competition__jury-list {
  width: 100%;
  height: 100%;

  @media (max-width: variables.$vp-1365) {
    width: 84%;
  }
}

.competition__jury-button {
  position: absolute;
  top: calc(50% - 31px);

  &--left {
    left: -75px;
    padding: 13px 21px 9px 17px;
  }

  &--right {
    right: -75px;
    padding: 13px 17px 9px 21px;
  }

  @media (max-width: variables.$vp-1365) {
    &--left {
      left: -19px;
    }

    &--right {
      right: -19px;
    }
  }

  @media (max-width: variables.$vp-767) {
    top: calc(50% - 18px);

    &--left {
      left: -8px;
      padding: 8px 13px 6px 10px;
    }

    &--right {
      right: -8px;
      padding: 8px 10px 6px 13px;
    }
  }
}
