@use "../variables.scss";
@use "../mixins.scss" as *;

.footer-links {
  transform: translateY(-1px);
  padding: 41px 0;
  background: #030a1a;
  color: variables.$color-default-white;

  @media (max-width: variables.$vp-1365) {
    padding: 45px 0;
  }

  @media (max-width: variables.$vp-767) {
    transform: translate(0);
    padding: 26px 0 45px;
  }
}

.footer-links__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: variables.$vp-1365) {
    gap: 10px;
  }

  @media (max-width: variables.$vp-767) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
  }
}

.footer-links__logo {
  transform: translateX(1px);
  padding: 3px 0 0;
  display: flex;
  justify-content: flex-start;
  max-width: 15%;
  transition: all 0.2s ease;

  @include hover-focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:active:hover:focus {
    opacity: 0.6;
  }

  &--disabled {
    opacity: 0.3;
  }

  @media (max-width: variables.$vp-767) {
    width: 100%;
    max-width: 500px;
  }
}

.footer-links__logo img {
  @media (max-width: variables.$vp-1365) {
    width: 97px;
    height: 20px;
  }

  @media (max-width: variables.$vp-767) {
    width: 88px;
    height: 16px;
  }
}

.footer-links__navigation {
  transform: translateX(-6px);
  max-width: 40%;

  @media (max-width: variables.$vp-1365) {
    transform: translateX(-1px);
    max-width: 70%;
  }

  @media (max-width: variables.$vp-767) {
    margin-bottom: 26px;
    transform: translate(0);
    width: 100%;
    max-width: 500px;
  }
}

.footer-links__navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 20px;
  list-style-type: none;

  @media (max-width: variables.$vp-1365) {
    column-gap: 18px;
    row-gap: 10px;
  }

  @media (max-width: variables.$vp-767) {
    column-gap: 30px;
    row-gap: 17px;
  }
}

.footer-links__navigation-link {
  position: relative;
  padding: 3px 8px 1px;
  display: flex;
  color: variables.$color-default-white;
  transition: all 0.2s ease;

  &::before {
    position: absolute;
    top: -1px;
    left: -1px;
    display: none;
    width: calc(100% + 1px);
    height: calc(100% + 4px);
    background: transparent;
    border: 1px solid variables.$color-default-white;
    content: "";
  }

  &::after {
    position: absolute;
    bottom: -4px;
    left: 8px;
    display: none;
    width: calc(100% - 16px);
    height: 1px;
    background: variables.$color-default-white;
    content: "";
  }

  @include hover {
    &::after {
      display: block;
    }
  }

  @include focus {
    outline: none;

    &::before {
      display: block;
    }
  }

  &:active {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  &:active:hover:focus {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  &--disabled {
    opacity: 0.4;
  }

  @media (max-width: variables.$vp-1365) {
    padding: 2px 6px 1px;

    &--displaced {
      transform: translateX(1px);
      margin-right: 2px;
    }

    &::before {
      top: -2px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 5px);
    }

    &::after {
      left: 6px;
      width: calc(100% - 12px);
    }
  }

  @media (max-width: variables.$vp-767) {
    padding: 3px 6px 0 0;

    &--displaced {
      transform: translate(0);
      margin: 0;
    }

    &::before {
      top: -1px;
      left: -9px;
      width: calc(100% + 12px);
      height: calc(100% + 5px);
    }

    &::after {
      left: 0;
      bottom: -5px;
      width: calc(100% - 6px);
    }
  }
}

.footer-links__navigation-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @media (max-width: variables.$vp-767) {
    line-height: 20px;
  }
}

.footer-links__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  max-width: 15%;
  list-style-type: none;

  @media (max-width: variables.$vp-767) {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}

.footer-links__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: variables.$color-default-white;
  color: #030a1a;
  border: none;
  border-radius: 100%;
  transition: all 0.2s ease;

  @include hover-focus {
    background: #103aae;
    color: variables.$color-default-white;
  }

  &:active {
    background: variables.$color-default-blue;
    color: variables.$color-default-white;
  }

  &:active:hover:focus {
    background: variables.$color-default-blue;
    color: variables.$color-default-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.footer-links__social-link--vk svg {
  transform: translateY(1px);
}

.footer-links__social-link--ok svg {
  @media (max-width: variables.$vp-767) {
    transform: translateX(1px);
  }
}
